PKEY='privateKeyStringYouOwnGoesHere'
greeterAddr='addressOfDeploydGreeterContractHere'

# following are just made up examples need to set to your rpm endpoints
OP_GOERLI_RPC='https://optimism-goerli.infura.io/v3/ssssssssddddddddddddddxssssssddf'
GOERLI_RPC='https://goerli.infura.io/v3/vvvvvvvvvvdfffsssssssssssssssfgv'

